mixin left-9()
  .row.justify-content-between.align-items-center.py-5
    .col-12.col-md-5.order-2.order-md-1
      h2 Long headline on two lines to turn your visitors into users and achieve more
      p.mb-4 Separated they live in Bookmarks right at the coast of the famous Semantics, large language ocean Separated they live in Bookmarks right at the coast
      button.btn.btn-primary Action

    .col-12.col-md-6.order-1.order-md-2.pl-md-0.mb-4.mb-md-0
      img(src="./assets/pictures/image-555x380.png").w-100
