mixin customers-7()
  .row.py-5
    .col-12.col-md-4.mb-5.mb-md-0
      .media.align-items-center.mb-3
        .mr-2
          img(src='./assets/pictures/userpic.png' width='44' height='44').rounded

        .media-body
          p.mb-0
            span.weight-500 Name Surname
          p.small.mb-0 Description

      p.mb-0 “All base UI elements are made using Nested Symbols and shared styles that are logically connected. Gorgeous, high-quality video sharing on desktop, mobile, tablet”

    .col-12.col-md-4.mb-5.mb-md-0
      .media.align-items-center.mb-3
        .mr-2
          img(src='./assets/pictures/userpic.png' width='44' height='44').rounded

        .media-body
          p.mb-0
            span.weight-500 Name Surname
          p.small.mb-0 Description

      p.mb-0 “All base UI elements are made using Nested Symbols and shared styles that are logically connected. Gorgeous, high-quality video sharing on desktop, mobile, tablet”

    .col-12.col-md-4
      .media.align-items-center.mb-3
        .mr-2
          img(src='./assets/pictures/userpic.png' width='44' height='44').rounded

        .media-body
          p.mb-0
            span.weight-500 Name Surname
          p.small.mb-0 Description

      p.mb-0 “All base UI elements are made using Nested Symbols and shared styles that are logically connected. Gorgeous, high-quality video sharing on desktop, mobile, tablet”

