mixin grids-1()
  .row.text-center.flex-md-nowrap.py-md-5
    .col-12.col-md-6
      .row.justify-content-center
        .col-12.col-lg-8
          .py-5.py-md-0
            img(src="./assets/glyphs/rectangle-1.svg" width="40").mb-3
            h3 Feature one
            p Change the color to match your brand or vision, add your logo, choose the perfect thumbnail, remove the playbar

          .border-bottom.d-md-none

    .border-right.d-md-block

    .col-12.col-md-6
      .row.justify-content-center
        .col-12.col-lg-8
          .py-5.py-md-0
            img(src="./assets/glyphs/rectangle-6.svg" width="40").mb-3
            h3 Feature two
            p Change the color to match your brand or vision, add your logo, choose the perfect thumbnail, remove the playbar
