mixin left-8()
  .row.justify-content-between.align-items-center.py-5
    .col-12.col-md-5.order-2.order-md-1
      h4 Tagline
      h1.mb-4 Long headline to turn your visitors into users
      .row
        .col-12.col-md-6.d-flex.mb-4.mb-md-0
          div.mr-2
            img(src="./assets/glyphs/rectangle-5.svg" width="32")
          .small Gorgeous, high-quality video sharing on desktop, mobile, tablet

        .col-12.col-md-6.d-flex
          div.mr-2
            img(src="./assets/glyphs/rectangle-2.svg" width="32")
          .small Gorgeous, high-quality video sharing on desktop, mobile, tablet

    .col-12.col-md-6.order-1.order-md-2.pl-md-0.mb-4.mb-md-0
      img(src="./assets/pictures/window-555x380.png").w-100
