mixin left-13()
  .row.justify-content-between.align-items-center.py-5
    .col-12.col-md-5.order-2.order-md-1
      h2 Long headline on two lines to turn your visitors into users and achieve more
      p.mb-10 Separated they live in Bookmarks right at the coast of the famous Semantics, large language ocean Separated they live in Bookmarks right at the coast
      .d-flex.justify-content-between.align-items-center
        .mr-1
          img(src="./assets/logos/paypal.svg" style="min-width:72px; max-width: 92px").w-100
        .mx-1
          img(src="./assets/logos/android-pay.svg" style="min-width:27px; max-width: 44px").w-100
        .mx-1
          img(src="./assets/logos/apple-pay.svg" style="min-width:41px; max-width: 51px").w-100
        .ml-1
          img(src="./assets/logos/samsung-pay.svg" style="min-width:86px; max-width: 109px").w-100

    .col-12.col-md-6.order-1.order-md-2.pl-md-0.mb-4.mb-md-0
      .images-ratio.ratio-4-3(style='background-image: url(./assets/pictures/image-555x380.png)').w-100.mb-3
        a(href='').transparent-invert-link
          img(src='./assets/glyphs/play.svg' width='64')
