mixin pricing-7()
  .d-flex.justify-content-around.pt-5.mb-4
    .nav.nav-tabs.weight-500
      .nav-item
        a(href='').nav-link.active Monthly
      .nav-item
        a(href='').nav-link Yearly

  .row.justify-content-center.pb-5
    .col-12.col-md-4.mb-3.mb-md-0
      .card.shadow-sm.h-100
        .card-body.d-flex.flex-column
          div
            h4.text-right.mb-4 Beginner
            .price-medium.mb-4 $20
              span.price-unit / month
            p By creating an Account on our service, you agree to subscribe
            ul.mb-4
              li Showcase and embed your work
              li Publish across social channels

          .mt-auto
            button.btn.btn-lg.btn-block.btn-primary Action

    .col-12.col-md-4.mb-3.mb-md-0
      .card.shadow-sm.h-100
        .card-body.d-flex.flex-column
          div
            h4.text-right.mb-4 Personal
            .price-medium.mb-4 $29
              span.price-unit / month
            p By creating an Account on our service, you agree to subscribe
            ul.mb-4
              li Showcase and embed your work
              li Publish across social channels
              li Sell your videos worldwide
              li Premium support

          .mt-auto
            button.btn.btn-lg.btn-block.btn-primary Action

    .col-12.col-md-4
      .card.shadow-sm.h-100
        .card-body.d-flex.flex-column
          div
            h4.text-right.mb-4 Unlimited
            .price-medium.mb-4 $79
              span.price-unit / month
            p By creating an Account on our service, you agree to subscribe
            ul.mb-4
              li Showcase and embed your work
              li Publish across social channels
              li Sell your videos worldwide
              li Premium support
              li Analytics

          .mt-auto
            button.btn.btn-lg.btn-block.btn-primary Action
