mixin pricing-8()
  .row.text-center.py-5
    .col-12.col-md-3.mb-3.mb-md-0
      .card.shadow-sm
        .card-body
          h4 Beginner
          p.mb-3 Design emails without HTML we made it super
          .price-medium.mb-3 Free
          p.mb-4 Design details
          button.btn.btn-lg.btn-primary.btn-block Action

    .col-12.col-md-3.mb-3.mb-md-0
      .card.shadow-sm
        .card-body
          h4 Personal
          p.mb-3 Design emails without HTML we made it super
          .price-medium.mb-3 $9
          p.mb-4 Design details
          button.btn.btn-lg.btn-primary.btn-block Action

    .col-12.col-md-3.mb-3.mb-md-0
      .card.shadow-sm
        .card-body
          h4 Unlimited
          p.mb-3 Design emails without HTML we made it super
          .price-medium.mb-3 $26
          p.mb-4 Design details
          button.btn.btn-lg.btn-primary.btn-block Action

    .col-12.col-md-3
      .card.shadow-sm
        .card-body
          h4 Corporate
          p.mb-3 Design emails without HTML we made it super
          .price-medium.mb-3 $38
          p.mb-4 Design details
          button.btn.btn-lg.btn-primary.btn-block Action
