mixin gallery-9()
  .row.no-gutters.py-4
    .col-12.col-md-6
      img(src="./assets/pictures/image-555x540.png").w-100
    .col-12.col-md-6
      img(src="./assets/pictures/image-555x540.png").w-100
