mixin center-13()
  .row.justify-content-center.text-center.py-5
    .col-12.col-md-8.col-lg-6
      h2 Long headline on two lines to turn your visitors into users and achieve more

      a(href="").large.action-link
        span Action link
