mixin pricing-6()
  .row.text-center.py-5
    .col-12.col-md-4.mb-3.mb-md-0
      .card.shadow-sm
        .d-flex.flex-column
          .card-body.py-10
            h4 Beginner
            .price-small.mb-3 $38
              span.price-unit / mo

            p Design emails without HTML. We made it super easy for you to create

            button.btn.btn-lg.btn-primary.btn-block.mb-2 Action
            .small.text-muted By signing in you agree with the Terms and Conditions

    .col-12.col-md-4.mb-3.mb-md-0
      .card.shadow-sm
        .d-flex.flex-column
          .card-body.py-10
            h4 Personal
            .price-small.mb-3 $68
              span.price-unit / mo

            p Design emails without HTML. We made it super easy for you to create

            button.btn.btn-lg.btn-primary.btn-block.mb-2 Action
            .small.text-muted By signing in you agree with the Terms and Conditions

    .col-12.col-md-4
      .card.shadow-sm
        .d-flex.flex-column
          .card-body.py-10
            h4 Unlimited
            .price-small.mb-3 $78
              span.price-unit / mo

            p Design emails without HTML. We made it super easy for you to create

            button.btn.btn-lg.btn-primary.btn-block.mb-2 Action
            .small.text-muted By signing in you agree with the Terms and Conditions

