mixin pricing-2()
  .row.justify-content-around.flex-md-nowrap.text-center.py-md-5
    .col-12.col-md-6
      .row.justify-content-around
        .col-12.col-lg-8
          .py-5.py-md-0
            h3 Personal
            .price-medium.mb-3 $29
              span.price-unit.ml-1 / mo
            p.mb-4 Change the color to match your brand or vision, add your logo, choose the perfect thumbnail, remove the playbar
            button.btn.btn-outline-primary Action

          .border-bottom.d-md-none

    .border-right.d-none.d-md-block

    .col-12.col-md-6.justify-content-around
      .row.justify-content-around
        .col-12.col-lg-8
          .py-5.py-md-0
            h3 Unlimited
            .price-medium.mb-3 $59
              span.price-unit.ml-1 / mo
            p.mb-4 Change the color to match your brand or vision, add your logo, choose the perfect thumbnail, remove the playbar
            button.btn.btn-primary Action
