mixin pricing-1()
  .row.justify-content-center.text-center.py-5
    .col-12.col-md-6.col-lg-4
      .price-medium.mb-3 $59
        span.price-unit.ml-2 / mo
      p.lead.mb-3 Change the color to match your brand or vision, add your logo, choose the perfect thumbnail, remove the playbar
      button.btn.btn-primary Action
