mixin footers-7()
  .d-lg-flex.justify-content-between.py-3.py-lg-2
    .small.mb-2.mb-lg-0
      span.text-muted.mr-5 &copy; 2019 Acme. All right reserved.

    .small
      a(href='').d-block.d-lg-inline.text-muted.ml-lg-3.mb-2.mb-lg-0
        span Privacy Policy
      a(href='').d-block.d-lg-inline.text-muted.ml-lg-3
        span Terms of Service
