mixin footers-2()
  .row.align-items-center.py-4
    .col-12.col-lg-2.text-center.text-lg-left
      img(src='./assets/logos/acme.svg' width='91')

    .col-12.col-lg-8.navbar-expand.text-center.weight-500
      .navbar-nav.d-block.d-lg-flex.justify-content-center
        .nav-item
          a(href='').nav-link.text-dark First page

        .nav-item
          a(href='').nav-link.text-dark Second page

        .nav-item
          a(href='').nav-link.text-dark Third page

        .nav-item
          a(href='').nav-link.text-dark Fourth page

        .nav-item
          a(href='').nav-link.text-dark Fifth page

    .col-12.col-lg-2.d-none.d-lg-block.text-right
      a(href='').transparent-invert-link.mr-1
        img(src="./assets/glyphs/instagram-small.svg" width="16")

      a(href='').transparent-invert-link.mr-1
        img(src="./assets/glyphs/facebook-small.svg" width="16")

      a(href='').transparent-invert-link.mr-1
        img(src="./assets/glyphs/twitter-small.svg" width="16")

      a(href='').transparent-invert-link.mr-1
        img(src="./assets/glyphs/pinterest-small.svg" width="16")

    .col-12.d-lg-none.text-center
      a(href='').transparent-invert-link.mx-1
        img(src="./assets/glyphs/instagram-small.svg" width="24")

      a(href='').transparent-invert-link.mx-1
        img(src="./assets/glyphs/facebook-small.svg" width="24")

      a(href='').transparent-invert-link.mx-1
        img(src="./assets/glyphs/twitter-small.svg" width="24")

      a(href='').transparent-invert-link.mx-1
        img(src="./assets/glyphs/pinterest-small.svg" width="24")

  .row.pb-3
    .col-12.text-center.small
      span.text-muted.mr-1 &copy; 2019 Acme. All right reserved.
      a(href='').d-block.d-lg-inline.text-muted.mx-1
        span Privacy Policy
      a(href='').d-block.d-lg-inline.text-muted.mx-1
        span Terms of Service
