mixin footers-8()
  .row.py-4
    .col-12.col-lg-2.mb-4.mb-lg-0
      img(src='./assets/logos/acme.svg' width='62')

    .col-6.col-lg-2.mb-4.mb-lg-0
      h4 First column
      .small
        .mb-1
          a(href='').text-dark
            span First page
        .mb-1
          a(href='').text-dark
            span Second page
        .mb-1
          a(href='').text-dark
            span Third
        .mb-1
          a(href='').text-dark
            span Fourth

    .col-6.col-lg-2.mb-4.mb-lg-0
      h4 Second
      .small
        .mb-1
          a(href='').text-dark
            span Fifth page
        .mb-1
          a(href='').text-dark
            span Sixth page
        .mb-1
          a(href='').text-dark
            span Eighth

    .col-6.col-lg-2.mb-4.mb-lg-0
      h4 Third
      .small
        .mb-1
          a(href='').text-dark
            span First page
        .mb-1
          a(href='').text-dark
            span Second page
        .mb-1
          a(href='').text-dark
            span Third

    .col-12.col-lg-4
      .border-top.pt-4.d-lg-none
      h4 Subscribe
      .form-group.input-group.input-group-lg
        input(type='text' placeholder='Enter your email address').form-control.form-control-lg
        .input-group-control
            a(href='').transparent-invert-link
              img(src='./assets/glyphs/plane.svg' width='24')

      p.small.text-muted.mb-0 Join our newsletter to stay up to date on features and releases

  .d-lg-flex.align-item-ceneter.justify-content-between.border-top.py-3.py-lg-2.mt-lg-5
    .small.mb-2.mb-lg-0
      span.text-muted &copy; 2019 Acme. All right reserved.

    .small
      a(href='').d-block.d-lg-inline.text-muted.ml-lg-3.mb-2.mb-lg-0
        span Privacy Policy
      a(href='').d-block.d-lg-inline.text-muted.ml-lg-3.mb-2.mb-lg-0
        span Terms of Service

    .d-none.d-lg-block.ml-auto
      a(href='').transparent-invert-link
        img(src="./assets/glyphs/facebook-small.svg" width="16")

      a(href='').transparent-invert-link.ml-2
        img(src="./assets/glyphs/linkedin-small.svg" width="16")

      a(href='').transparent-invert-link.ml-2
        img(src="./assets/glyphs/twitter-small.svg" width="16")

      a(href='').transparent-invert-link.ml-2
        img(src="./assets/glyphs/pinterest-small.svg" width="16")

    .d-lg-none
      a(href='').transparent-link
        img(src="./assets/glyphs/facebook-small.svg" width="24")

      a(href='').transparent-link.ml-2
        img(src="./assets/glyphs/linkedin-small.svg" width="24")

      a(href='').transparent-link.ml-2
        img(src="./assets/glyphs/twitter-small.svg" width="24")

      a(href='').transparent-link.ml-2
        img(src="./assets/glyphs/pinterest-small.svg" width="24")
