mixin center-7()
  .row.justify-content-center.text-center.py-5
    .col-12.col-md-8.col-lg-6
      h4 Tagline
      h1 Long headline to turn your visitors into users
      button.btn.btn-primary Action
