mixin center-10()
  .row.justify-content-center.text-center.py-5
    .col-12.col-md-8.col-lg-6
      h1.mb-4 Long headline to turn your visitors into users
      div
        span Share:
        a(href='').transparent-invert-link.ml-3
          img(src="./assets/glyphs/facebook.svg" width="20")
        a(href='').transparent-invert-link.ml-3
          img(src="./assets/glyphs/twitter.svg" width="20")
        a(href='').transparent-invert-link.ml-3
          img(src="./assets/glyphs/link.svg" width="20")
