mixin gallery-5()
  .row.py-4
    .col-12.col-md-3.gallery-item.mb-md-0
      img(src="./assets/pictures/image-540x540.png").w-100
    .col-12.col-md-3.gallery-item.mb-md-0
      img(src="./assets/pictures/image-540x540.png").w-100
    .col-12.col-md-3.gallery-item.mb-md-0
      img(src="./assets/pictures/image-540x540.png").w-100
    .col-12.col-md-3.gallery-item.mb-0
      img(src="./assets/pictures/image-540x540.png").w-100
