
mixin cover-4()
  .bg-cover.text-white
    .container
      .row.justify-content-between.align-items-center.py-5
        .col-12.col-md-6.order-2.order-md-1
          h4 Tagline
          h1.display-4 Long headline to turn your visitors into users
          a(href="").action-link.text-white
            span Action link

        .col-12.col-md-6.order-1.order-md-2.pl-md-0.mb-4.mb-md-0
          img(src="./assets/pictures/cover-4.png").w-100
