mixin gallery-14()
  .swiper.swiper-overflow.py-5
    .container.position-relative
      .swiper-container.row(id='slider-gallery-14')
        .swiper-wrapper
          .swiper-slide.col-11.col-md-6
            .images-ratio.ratio-4-3(style='background-image: url(./assets/pictures/image-555x380.png)')

          .swiper-slide.col-11.col-md-6
            .images-ratio.ratio-4-3(style='background-image: url(./assets/pictures/image-555x380.png)')

          .swiper-slide.col-11.col-md-6
            .images-ratio.ratio-4-3(style='background-image: url(./assets/pictures/image-555x380.png)')

      a.carousel-control-prev.carousel-control-outside(id='slider-gallery-14-prev' href='')
        .carousel-control-prev-icon
      a.carousel-control-next.carousel-control-outside(id='slider-gallery-14-next' href='')
        .carousel-control-next-icon

  // Script
  script.
    var mySwiper14 = new Swiper('#slider-gallery-14', {
      speed: 400,
      navigation: {
        nextEl: '#slider-gallery-14-next',
        prevEl: '#slider-gallery-14-prev',
      },
      pagination: {
        el: '#slider-gallery-14-pagination',
        clickable: true
      },
      slidesPerView: 'auto'
    });
