mixin footers-4()
  .row.pt-4.mb-4.mb-lg-5
    .col-12.col-lg-3.pr-lg-0.mb-4.mb-lg-0
      img(src='./assets/logos/acme.svg' width='91').mb-3
      p.small.text-muted.mb-3 Join our newsletter to stay up to date on features and releases
      .form-group.input-group.input-group-lg.mb-0
        input(type='text' placeholder='Enter your email address').form-control.form-control-lg
        .input-group-control
            a(href='').transparent-invert-link
              img(src='./assets/glyphs/plane.svg' width='24')

    .col-12.col-lg-2

    .col-6.col-lg-2
      .navbar-nav.weight-500
        .nav-item.mb-1
          a(href='').text-dark
            span First page

        .nav-item.mb-1
          a(href='').text-dark
            span Second page

        .nav-item.mb-1
          a(href='').text-dark
            span Third

        .nav-item
          a(href='').text-dark
            span Fourth

    .col-6.col-lg-2
      .navbar-nav.weight-500
        .nav-item.mb-1
          a(href='').text-dark
            span Fifth page

        .nav-item.mb-1
          a(href='').text-dark
            span Sixth page

        .nav-item.mb-1
          a(href='').text-dark
            span Eighth

    .col-12.col-lg-1

    .col-12.col-lg-2.small.mt-4.mt-lg-0
      .mb-1
        a(href='').text-dark
          img(src="./assets/glyphs/instagram.svg" width="16").mr-1
          span Instagram

      .mb-1
        a(href='').text-dark
          img(src="./assets/glyphs/facebook.svg" width="16").mr-1
          span Facebook

      .mb-0
        a(href='').text-dark
          img(src="./assets/glyphs/twitter.svg" width="16").mr-1
          span Twitter

  .border-top.d-lg-none

  .d-block.d-lg-flex.justify-content-between.py-3.py-lg-2
    .small.mb-2.mb-lg-0
      span.text-muted.mr-5 &copy; 2019 Acme. All right reserved.

    .small
      a(href='').d-block.d-lg-inline.text-muted.ml-lg-2.mb-2.mb-lg-0
        span Privacy Policy
      a(href='').d-block.d-lg-inline.text-muted.ml-lg-2
        span Terms of Service
