mixin footers-3()
  .row.align-items-center.py-4
    .col-12.col-lg-2.text-center.text-lg-left.mb-4.mb-lg-0
      img(src='./assets/logos/acme.svg' width='91')

    .col-12.col-lg-8.navbar-expand.text-center.weight-500.mb-4.mb-lg-0
      .navbar-nav.d-block.d-lg-flex.justify-content-center
        .nav-item
          a(href='').nav-link.text-dark First page

        .nav-item
          a(href='').nav-link.text-dark Second page

        .nav-item
          a(href='').nav-link.text-dark Third page

        .nav-item
          a(href='').nav-link.text-dark Fourth page

        .nav-item
          a(href='').nav-link.text-dark Fifth page

    .col-12.col-lg-2.small.text-center.text-lg-right
      a(href='').text-muted
        span English version

  .border-top.d-lg-none
  .text-center.py-4.py-lg-5
    a(href='').transparent-invert-link.mx-2
      img(src="./assets/glyphs/facebook.svg" width="32")

    a(href='').transparent-invert-link.mx-2
      img(src="./assets/glyphs/instagram.svg" width="32")

    a(href='').transparent-invert-link.mx-2
      img(src="./assets/glyphs/twitter.svg" width="32")

    a(href='').transparent-invert-link.mx-2
      img(src="./assets/glyphs/linkedin.svg" width="32")

    a(href='').transparent-invert-link.mx-2
      img(src="./assets/glyphs/pinterest.svg" width="32")

  .pt-lg-4.pb-4.pb-lg-3.text-center.small
    p.mb-0
      a(href='').d-block.d-lg-inline.text-muted.mx-lg-1.mb-2.mb-lg-0
        span Privacy Policy
      a(href='').d-block.d-lg-inline.text-muted.mx-lg-1.mb-2.mb-lg-0
        span Terms of Service
      a(href='').d-block.d-lg-inline.text-muted.mx-lg-1.mb-2.mb-lg-0
        span Legal
      a(href='').d-block.d-lg-inline.text-muted.mx-lg-1.mb-2.mb-lg-0
        span Site Map

    p.text-muted.mb-0 &copy; 2019 Acme. All right reserved.
