mixin footers-5()
  .row.pt-4.mb-4.mb-lg-5
    .col-12.col-lg-4.mb-4.mb-lg-0
      img(src='./assets/logos/acme.svg' width='91').mb-3
      p.small.text-muted
        | Stórhöfði 33
        br
        | 110 Reykjavík, Iceland
        br
        | Tel: +354 587 9999
        br
        a(href='').text-muted
          span info@mountainguides.is

      .mt-3.d-lg-none
        a(href='').transparent-link.mr-2
          img(src="./assets/glyphs/twitter.svg" width="24")

        a(href='').transparent-link.mr-2
          img(src="./assets/glyphs/facebook.svg" width="24")

        a(href='').transparent-link.mr-2
          img(src="./assets/glyphs/linkedin.svg" width="24")

      .mt-3.d-none.d-lg-block
        a(href='').transparent-link.mr-2
          img(src="./assets/glyphs/twitter.svg" width="16")

        a(href='').transparent-link.mr-2
          img(src="./assets/glyphs/facebook.svg" width="16")

        a(href='').transparent-link.mr-2
          img(src="./assets/glyphs/linkedin.svg" width="16")

      .border-top.mt-3.d-lg-none

    .col-6.col-lg-2
      h4 First column
      .small
        .mb-1
          a(href='').text-dark
            span First page
        .mb-1
          a(href='').text-dark
            span Second page
        .mb-1
          a(href='').text-dark
            span Third
        .mb-1
          a(href='').text-dark
            span Fourth

    .col-6.col-lg-2
      h4 Second column
      .small
        .mb-1
          a(href='').text-dark
            span Fifth page
        .mb-1
          a(href='').text-dark
            span Sixth page
        .mb-0
          a(href='').text-dark
            span Eighth

    .col-6.col-lg-2
      h4 Third column
      .small
        .mb-1
          a(href='').text-dark
            span First page
        .mb-1
          a(href='').text-dark
            span Second page
        .mb-1
          a(href='').text-dark
            span Third

    .col-6.col-lg-2
      h4 Mobile apps
      .mb-2
        a(href='')
          img(src='./assets/logos/app-store.svg' width='123')
      .mb-0
        a(href='')
          img(src='./assets/logos/google-play.svg' width='123')


  .border-top.d-lg-none

  .d-block.d-lg-flex.justify-content-between.py-3.py-lg-2
    .small.mb-2.mb-lg-0
      span.text-muted.mr-5 &copy; 2019 Acme. All right reserved.

    .small
      a(href='').d-block.d-lg-inline.text-muted.ml-lg-2.mb-2.mb-lg-0
        span Privacy Policy
      a(href='').d-block.d-lg-inline.text-muted.ml-lg-2
        span Terms of Service



