mixin cover-7()
  .bg-cover.text-white.py-4
    .container
      .py-5
        .row.justify-content-center.text-center.py-3
          .col-12.col-md-8
            h1.display-4 Long headline to turn your visitors into users
            p.lead.mb-4 Separated they live in Bookmarksgrove right at the coast of the famous Semantics, large language ocean and many more stuff and more more more
            .d-flex.justify-content-center
              .px-1
                a(href="").btn.btn-lg.btn-primary Action
              .px-1
                a(href="").btn.btn-lg.btn-outline-primary Action
