mixin cover-6()
  .bg-cover.text-white.py-4
    .container
      .py-5
        .row.justify-content-center.text-center.py-3
          .col-12.col-md-8
            h4 Tagline
            h1.display-4 Long headline to turn your visitors into users
            a(href="").action-link
              span Action link
