mixin cover-10()
  .bg-cover.text-white.py-4
    .container
      .py-5
        .row.justify-content-center.text-center.pt-3
          .col-12.col-md-8
            h4 Tagline
            h1.display-4.mb-4 Long headline to turn your visitors into users

        .row.justify-content-center.text-center.pb-3
          .col-12.col-md-8.col-lg-5
            form.input-group.mb-3(style='background: rgba(255,255,255,0.1)')
              input(placeholder="Placeholder").form-control.form-control-lg
              .input-group-append
                button.btn.btn-primary.btn-lg.btn-block Action

            p.small.mb-0 By clicking the Button you confirming that you’re agree with our following
              = ' '
              a(href="").text-white.weight-500
                span Terms and Conditions
