mixin footers-1()
  .row.justify-content-between.pt-4.pb-3.pb-lg-5
    .col-12.col-lg-7
      blockquote.blockquote.weight-500.mb-10 Change the color to match your brand or vision, add your logo, choose the perfect thumbnail, remove the playbar, add speed controls, and more.

      .d-none.d-lg-block
        a(href='').transparent-invert-link.mr-1
          img(src="./assets/glyphs/instagram-small.svg" width="16")

        a(href='').transparent-invert-link.mr-1
          img(src="./assets/glyphs/facebook-small.svg" width="16")

        a(href='').transparent-invert-link.mr-1
          img(src="./assets/glyphs/twitter-small.svg" width="16")

        a(href='').transparent-invert-link.mr-1
          img(src="./assets/glyphs/pinterest-small.svg" width="16")

        a(href='').transparent-invert-link.mr-1
          img(src="./assets/glyphs/thumbler-small.svg" width="16")

      .d-lg-none.mb-4
        a(href='').transparent-invert-link.mr-2
          img(src="./assets/glyphs/instagram-small.svg" width="24")

        a(href='').transparent-invert-link.mr-2
          img(src="./assets/glyphs/facebook-small.svg" width="24")

        a(href='').transparent-invert-link.mr-2
          img(src="./assets/glyphs/twitter-small.svg" width="24")

        a(href='').transparent-invert-link.mr-2
          img(src="./assets/glyphs/pinterest-small.svg" width="24")

        a(href='').transparent-invert-link.mr-2
          img(src="./assets/glyphs/thumbler-small.svg" width="24")

    .col-12.col-lg-2.small.text-lg-right.mb-4.md-lg-0.pt-1
      p.mb-1
        a(href='').text-dark
          span First page
      p.mb-1
        a(href='').text-dark
          span Second page
      p.mb-1
        a(href='').text-dark
          span Third page
      p.mb-0
        a(href='').text-dark
          span Four

    .col-12.col-lg-3.pt-1.small.text-lg-right
      p.mb-1 Stórhöfði 33
      p.mb-1 110 Reykjavík, Iceland
      p.mb-1 Tel: +354 587 9999
      p.mb-0
        a(href='').text-dark
          span info@mountainguides.is

  .border-top.d-lg-none

  .d-lg-flex.justify-content-between.py-3
    .small
      span.d-block.d-lg-inline.text-muted.mb-2.mb-lg-0.mr-lg-5 &copy; 2019 Acme. All right reserved.
      a(href='').d-block.d-lg-inline.text-muted.mb-2.mb-lg-0.mr-lg-5
        span Privacy Policy
      a(href='').d-block.d-lg-inline.text-muted.mb-2.mb-lg-0.mr-lg-5
        span Terms of Service
    .small
      span.text-muted Made in Saint Petersburg

