mixin forms-9()
  .row.flex-md-nowrap.py-md-5
    .col-12.col-md-6
      .row.justify-content-around
        .col-12.col-md-10.col-lg-8
          .pt-5.pb-4.pt-md-0.pb-md-0
            h3 Medium length headline
            p.mb-3 By creating an Account on our service, you agree to subscribe to newsletters.
            .input-group.mb-0
              input(placeholder="Placeholder").form-control.form-control-lg
              .input-group-append
                button.btn.btn-lg.btn-primary Action

          .border-bottom.d-md-none

    .border-right.d-none.d-md-block

    .col-12.col-md-6
      .row.justify-content-around
        .col-12.col-md-10.col-lg-8
          .pt-4.pb-5.pt-md-0.pb-md-0
            h3 Medium length headline
            p.mb-0 By creating an Account on our service, you agree to subscribe to newsletters, marketing or promotional materials and other information we may send. However, you may opt out.
