mixin texts-18()
  .row.justify-content-between.align-items-end.pb-md-4.pt-5
    .col-12.col-md-8.col-lg-6
      h4 Tagline
      h1 Long headline to turn your visitors into users

      .mb-3.mb-md-0
        | 20 September 2019, 10:01 GMT
        br
        | By Tim Ross, Helene Fouquet, and Ian Wishart

      .border-bottom.d-md-none

    .col-12.col-md-4.col-lg-6.text-right.py-2.py-md-0
      .d-flex.d-md-block.justify-content-between
        span.mr-3 Share:
        span
          a(href='').transparent-invert-link.mr-2
            img(src="./assets/glyphs/facebook.svg" width="20")
          a(href='').transparent-invert-link.mr-2
            img(src="./assets/glyphs/twitter.svg" width="20")
          a(href='').transparent-invert-link
            img(src="./assets/glyphs/link.svg" width="20")
