mixin texts-12()
  .row.justify-content-center.py-4
    .col-12.col-md-8.col-lg-6
      h4 Medium length headline
      p By creating an Account on our service, you agree to subscribe to newsletters, marketing or promotional materials and other information we may send.
      ol.mb-0
        li Showcase and embed your work with
        li Publish across social channels in a click
        li Agree to subscribe to newsletters
        li Shared styles that are logically connected with one another
        li Embed your work with
        li Sell your videos worldwide
