mixin texts-17()
  .row.justify-content-center.py-5
    .col-12.col-md-8.col-lg-6
      h3 Medium length headline
      p.mb-3 By creating an Account on our service, you agree to subscribe to newsletters, marketing or promotional materials and other information we may send. However, you may opt out of receiving any, or all, of these communications from us by following the unsubscribe link or instructions provided in any email we send.

      .accordion(id='texts-17-accordion')
        h4.mb-0.py-2.caret-down(data-toggle='collapse' data-target='#texts-17-1') Definitions
        .border-bottom
          .collapse.show(id='texts-17-1' data-parent='#texts-17-accordion')
            p.pb-3.mb-0 By creating an Account on our service, you agree to subscribe to newsletters, marketing or promotional materials and other information we may send.

        h4.mb-0.py-2.caret-down.collapsed(data-toggle='collapse' data-target='#texts-17-2') License
        .border-bottom
          .collapse(id='texts-17-2' data-parent='#texts-17-accordion')
            p.pb-3.mb-0 By creating an Account on our service, you agree to subscribe to newsletters, marketing or promotional materials and other information we may send.

        h4.mb-0.py-2.caret-down.collapsed(data-toggle='collapse' data-target='#texts-17-3') Permitted use and restrictions
        .border-bottom
          .collapse(id='texts-17-3' data-parent='#texts-17-accordion')
            p.pb-3.mb-0 By creating an Account on our service, you agree to subscribe to newsletters, marketing or promotional materials and other information we may send.
