mixin texts-10()
  .row.justify-content-center
    .col-12.col-md-8.col-lg-6
      .border-bottom
        .row.align-items-center.py-4
          .col-12.col-md-6.order-2.order-md-1
            h3 Medium length headline
            p All base UI elements are made using Nested Symbols and shared styles that are logically connected with one another.
            a(href='').weight-500.action-link
              span Read more

          .col-12.col-md-6.mb-4.mb-md-0.order-1.order-md-2
            img(src='./assets/pictures/image-255x230.png').w-100
