mixin texts-14()
  .row.justify-content-center.py-4
    .col-12.col-md-8.col-lg-6
      h1.mb-4 Short headline

      .accordion(id='texts-14-accordion')
          h3.caret-down(data-toggle='collapse' data-target='#texts-14-1') Do I need programming skills to use Acme Tool?
          .border-bottom.mb-2
            .collapse.show(id='texts-14-1' data-parent='#texts-14-accordion')
              .pb-4
                p.mb-0 Change the color to match your brand or vision, add your logo, choose the perfect thumbnail, remove the playbar, add speed controls, and more. Increase engagement with CTAs and custom end screens, or keep your video private and password-protected.

          h3.caret-down.collapsed(data-toggle='collapse' data-target='#texts-14-2') How many projects I can do with Acme Tool?
          .border-bottom.mb-2
            .collapse(id='texts-14-2' data-parent='#texts-14-accordion')
              .pb-4
                p.mb-0 Remove the playbar, add speed controls, and more. Increase engagement with CTAs and custom end screens, or keep your video private and password-protected.

          h3.caret-down.collapsed(data-toggle='collapse' data-target='#texts-14-3') What result can I achieve using Acme Tool?
          .collapse(id='texts-14-3' data-parent='#texts-14-accordion')
            .pb-0
              p.mb-0 Each Acme customer will download multiple kind of files. All clients have unlimited access to Acme Tool. Acme automates your subscription revenue and customer reporting.
