mixin grids-4()
  .row.py-5
    .col-12.col-md-4.mb-4.mb-md-0
      .d-flex.align-items-center.mb-2
        img(src="./assets/glyphs/rectangle-4.svg" width="40").mr-2
        h3.mb-0 Feature one

      p All base UI elements are made using Nested Symbols and shared styles that are logically connected with one another.

    .col-12.col-md-4.mb-4.mb-md-0
      .d-flex.align-items-center.mb-2
        img(src="./assets/glyphs/rectangle-6.svg" width="40").mr-2
        h3.mb-0 Feature two

      p All base UI elements are made using Nested Symbols and shared styles that are logically connected with one another.

    .col-12.col-md-4
      .d-flex.align-items-center.mb-2
        img(src="./assets/glyphs/rectangle-5.svg" width="40").mr-2
        h3.mb-0 Feature three

      p All base UI elements are made using Nested Symbols and shared styles that are logically connected with one another.

