mixin grids-3()
  .row.py-5
    .col-12.col-md-4.mb-4.mb-md-0
      h3 Feature one
      p All base UI elements are made using Nested Symbols and shared styles that are logically connected with one another.
      a(href="").weight-500.action-link
        span Read more

    .col-12.col-md-4.mb-4.mb-md-0
      h3 Feature two
      p All base UI elements are made using Nested Symbols and shared styles that are logically connected with one another.
      a(href="").weight-500.action-link
        span Read more

    .col-12.col-md-4
      h3 Feature three
      p All base UI elements are made using Nested Symbols and shared styles that are logically connected with one another.
      a(href="").weight-500.action-link
        span Read more

