mixin grids-15()
  .row.py-5
    .col-12.col-md-3.mb-3.mb-md-0
      .card.shadow-sm
        img(src="./assets/pictures/image-410x250.png").w-100
        .card-body
          .small.mb-2 September 12
          h3 Long headline to turn your visitors into users
          span.small Caption

    .col-12.col-md-3.mb-3.mb-md-0
      .card.shadow-sm
        img(src="./assets/pictures/image-410x250.png").w-100
        .card-body
          .small.mb-2 September 12
          h3 Long headline to turn your visitors into users
          span.small Caption

    .col-12.col-md-3.mb-3.mb-md-0
      .card.shadow-sm
        img(src="./assets/pictures/image-410x250.png").w-100
        .card-body
          .small.mb-2 September 12
          h3 Long headline to turn your visitors into users
          span.small Caption

    .col-12.col-md-3
      .card.shadow-sm
        img(src="./assets/pictures/image-410x250.png").w-100
        .card-body
          .small.mb-2 September 12
          h3 Long headline to turn your visitors into users
          span.small Caption
