mixin grids-18()
  .row.text-center.py-5
    .col-12.col-md-4.mb-3.mb-md-0
      .card.shadow-sm
        img(src="./assets/pictures/image-410x250.png").w-100
        .card-body
          h4 Tagline
          h2 Long headline for two lines for attention
          a(href="").weight-500
            span Explore

    .col-12.col-md-4.mb-3.mb-md-0
      .card.shadow-sm
        img(src="./assets/pictures/image-410x250.png").w-100
        .card-body
          h4 Tagline
          h2 Long headline for two lines for attention
          a(href="").weight-500
            span Explore

    .col-12.col-md-4
      .card.shadow-sm
        img(src="./assets/pictures/image-410x250.png").w-100
        .card-body
          h4 Tagline
          h2 Long headline for two lines for attention
          a(href="").weight-500
            span Explore
