mixin grids-2()
  .row.text-center.flex-md-nowrap.py-md-5
    .col-12.col-md-6
      .row.justify-content-center
        .col-12.col-lg-8
          .py-5.py-md-0
            h3 Medium length headline
            p Change the color to match your brand or vision, add your logo, choose the perfect thumbnail, remove the playbar
            a(href="").weight-500.action-link
              span Read more

          .border-bottom.d-md-none

    .border-right.d-none.d-md-block

    .col-12.col-md-6
      .row.justify-content-center
        .col-12.col-lg-8
          .py-5.py-md-0
            h3 Medium length headline
            p Change the color to match your brand or vision, add your logo, choose the perfect thumbnail, remove the playbar
            a(href="").weight-500.action-link
              span Read more

