mixin left-6()
  .row.justify-content-between.align-items-center.py-5
    .col-12.col-md-5.order-2.order-md-1
      h4.mb-3 Tagline
      h1 Long headline to turn your visitors into users
      p.mb-4 Separated they live in Bookmarks right at the coast of the famous Semantics, large language ocean Separated they live in Bookmarks right

      .row
        .col-12.col-md-4
          button.btn.btn-primary.btn-block Action

    .col-12.col-md-6.order-1.order-md-2.pl-md-0.mb-4.mb-md-0
      img(src="./assets/pictures/full-phone-555x380.png").w-100
