mixin pricing-3()
  .row.justify-content-between.text-center.py-md-5
    .col-12.col-md-4
      .py-5.py-md-0
        img(src="./assets/glyphs/rectangle-3.svg" width="40").mb-3
        h3 Beginner
        p.mb-3 All base UI elements are made using Nested Symbols and shared styles that are
        .price-small.mb-3 $29
          span.price-unit / mo
        button.btn.btn-outline-primary Action

    .col-12.col-md-4
      .py-5.py-md-0
        img(src="./assets/glyphs/rectangle-6.svg" width="40").mb-3
        h3 Personal
        p.mb-3 All base UI elements are made using Nested Symbols and shared styles that are
        .price-small.mb-3 $59
          span.price-unit / mo
        button.btn.btn-primary Action

    .col-12.col-md-4
      .py-5.py-md-0
        img(src="./assets/glyphs/rectangle-4.svg" width="40").mb-3
        h3 Unlimited
        p.mb-3 All base UI elements are made using Nested Symbols and shared styles that are
        .price-small.mb-3 $79
          span.price-unit / mo
        button.btn.btn-outline-primary Action
