mixin right-4()
  .row.justify-content-between.align-items-center.py-5
    .col-12.col-md-6.pl-md-0.mb-4.mb-md-0
      img(src="./assets/pictures/chart-555x290.png").w-100

    .col-12.col-md-5
      h4 Tagline
      h1.display-4 Long headline to turn your visitors into users
      a(href="").action-link
        span Action link
