mixin right-10()
  .row.justify-content-between.align-items-center.py-5
    .col-12.col-md-6.pl-md-0.mb-4.mb-md-0
      img(src="./assets/pictures/some-555x380.png").w-100

    .col-12.col-md-5
      h2 Long headline on two lines to turn your visitors into users and achieve more
      p Separated they live in Bookmarks right at the coast of the famous Semantics, large language ocean Separated they live in Bookmarks right at the coast
      ul.mb-0
        li Showcase and embed your work with
        li Publish across social channels in a click
        li Sell your videos worldwide
        li Embed your work with
