mixin texts-20()
  .row.justify-content-center
    .col-12.col-md-8.col-lg-6
      .border-top.border-bottom.py-4
        blockquote.blockquote.weight-500 "Gimme a break. You cannot write an article admitting to the president’s “anti-democratic” impulses while also saying you want his administration to succeed"
        p.mb-0
          span.weight-500 Name Surname,
          = ' '
          | vice president of programs
