mixin texts-5()
  .border-bottom.mb-2.mb-md-4
    ol.breadcrumb
      li.breadcrumb-item
        a(href='').text-dark
          span First
      li.breadcrumb-item
        a(href='').text-dark
          span Second
      li.breadcrumb-item.active Third

  .row.py-10
    .col-12.col-md-3
      .navbar-nav.weight-500
        .nav-item
          a(href='').nav-link.text-dark Introduction

        .navbar-nav.pl-2.small.weight-500
          .nav-item
            a(href='').nav-link.text-dark Introduction

          .nav-item
            a(href='').nav-link.text-dark Overview

          .nav-item
            a(href='').nav-link.text-dark Contents

        .nav-item
          a(href='').nav-link.text-dark Overview

        .nav-item
          a(href='').nav-link.text-dark Contents

        .nav-item
          a(href='').nav-link.text-dark Layout

      .border-bottom.mt-3.mb-4.d-md-none

    .col-12.col-md-6
      h1.mb-10 Medium length title
      .mb-7
        h3 Medium length headline
        p By creating an Account on our service, you agree to subscribe to newsletters, marketing or promotional materials and other information we may send. However, you may opt out of receiving any, or all, of these communications from us by following the unsubscribe link or instructions provided in any email we send.

      .mb-7
        h3 Medium length headline
        p However, you may opt out of receiving any, or all, of these communications from us by following the unsubscribe link or instructions provided in any email we send.
        p By creating an Account on our service, you agree to subscribe to newsletters, marketing or promotional materials and other information we may send. However, you may opt out of receiving any, or all, of these communications from us by following the unsubscribe link or instructions provided in any email we send.
