mixin texts-11()
  .row.justify-content-center.py-4
    .col-12.col-md-8.col-lg-6
      p.mb-4 You understand that your content (not including credit card information), may be transferred unencrypted and involve (a) transmissions over various networks; and (b) changes to conform and adapt to technical requirements of connecting networks or devices. Credit card information is always encrypted during transfer over networks.
      .row
        .col-6
          h3 Short headline
          .mb-2
            a(href='').weight-500
              span Benefits of usage
          .mb-2
            a(href='').weight-500
              span Reset your password
          .mb-2
            a(href='').weight-500
              span Manage account
          .mb-2
            a(href='').weight-500
              span Sign in as guest

        .col-6
          h3 Short headline
          .mb-2
            a(href='').weight-500
              span About us
          .mb-2
            a(href='').weight-500
              span Careers
          .mb-2
            a(href='').weight-500
              span Meet the authors
          .mb-2
            a(href='').weight-500
              span Terms of service
