mixin texts-16()
  .row.justify-content-center.py-5
    .col-12.col-md-8.col-lg-6
      h1.mb-10 Short headline
      p Acme automates your subscription revenue and customer reporting. Just connect your data and Acme will calculate and visualize your most important metrics.
      .border-bottom.py-2
        h3.mb-0
          a(href='').text-dark.caret-right System requirements

      .border-bottom.py-2
        h3.mb-0
          a(href='').text-dark.caret-right Where can I learn more about how to get started?

      .border-bottom.py-2
        h3.mb-0
          a(href='').text-dark.caret-right Is Acme available for Linux?

      .border-bottom.py-2
        h3.mb-0
          a(href='').text-dark.caret-right What about a version for iOS?

      .border-bottom.py-2
        h3.mb-0
          a(href='').text-dark.caret-right Will I automatically be charged when my trial ends?
