mixin texts-4()
  .row.justify-content-between.align-items-end.pt-5
    .col-12.col-md-5
      h2 Headline
    .col-12.col-md-7.d-flex.justify-content-md-end
      .nav.nav-tabs.weight-500
        .nav-item
          a(href='').nav-link.active Tab one
        .nav-item
          a(href='').nav-link Tab two
        .nav-item
          a(href='').nav-link Tab three
