mixin texts-22()
  .row.justify-content-center.py-4.border-top
    .col-12.col-md-8.col-lg-6
      img(src='./assets/pictures/image-555x380.png').w-100
      .small.border-bottom.py-3
        span.weight-500 Alessandra Cerreti,
        = ' '
        | photographed in her office in Gioia Tauro, Italy.

