mixin texts-15()
  .row.justify-content-center.py-5
    .col-12.col-md-8.col-lg-6
      h1.mb-4 Short headline
      p.mb-4 Acme automates your subscription revenue and customer reporting. Just connect your data and Acme will calculate and visualize your most important metrics.
      ol.custom-list
        li.mb-4
          h3 Start by checking your upgrade
          p.mb-0 Change the color to match your brand or vision, add your logo, choose the perfect thumbnail, remove the playbar, add speed controls, and more. Increase engagement with CTAs and custom end screens, or keep your video private and password-protected.

        li.mb-4
          h3 Give more
          p.mb-0 Remove the playbar, add speed controls, and more. Increase engagement with CTAs and custom end screens, or keep your video private and password-protected.

        li.mb-4
          h3 Change the color to match your brand
          p.mb-0 Remove the playbar, add speed controls, and more. Increase engagement with CTAs and custom end screens, or keep your video private and password-protected.
