mixin forms-11()
  .row.flex-md-nowrap.text-center.py-md-5
    .col-12.col-md-6
      .row.justify-content-around
        .col-12.col-md-10.col-lg-8
          .pt-5.pb-4.pt-md-0.pb-md-0
            h3 Look it up with your account
            form.mb-3
              .form-group
                input(placeholder="Email").form-control.form-control-lg
              .form-group
                input(placeholder="Password" type='password').form-control.form-control-lg

              button.btn.btn-lg.btn-primary.btn-block Sign in

            .small
              a(href='').weight-500.action-link
                span Forgot your password

    .border-right.d-none.d-md-block

    .col-12.col-md-6
      .row.justify-content-around
        .col-12.col-md-10.col-lg-8
          .pt-4.pb-5.pt-md-0.pb-md-0
            h3.mb-9 Look it up with your order number
            form.mb-3
              .form-group
                input(placeholder="Email").form-control.form-control-lg
              .form-group
                input(placeholder="Password" type='password').form-control.form-control-lg

              button.btn.btn-lg.btn-primary.btn-block Sign in

            .small
              a(href='').weight-500.action-link
                span How to find your order number
