mixin right-14()
  .row.justify-content-between.align-items-center.py-5
    .col-12.col-md-6.pl-md-0.mb-4.mb-md-0
      img(src="./assets/pictures/full-phone-555x380.png").w-100

    .col-12.col-md-5
      h3 Medium length headline
      p Change the color to match your brand or vision, add your logo, choose the perfect thumbnail, remove the playbar, add speed controls, and more. Increase engagement with CTAs and custom end screens. So what are the benefits?
      ul.mb-0
        li Showcase and embed your work with
        li Publish across social channels in a click
        li Sell your videos worldwide
        li Embed your work with
