mixin grids-6()
  .row.py-5
    .col-12.col-md-3.mb-4.mb-md-0
      img(src="./assets/glyphs/rectangle-2.svg" width="32").mb-2
      h4 Feature one
      .small Gorgeous, high-quality video sharing on desktop, mobile, tablet or more

    .col-12.col-md-3.mb-4.mb-md-0
      img(src="./assets/glyphs/rectangle-6.svg" width="32").mb-2
      h4 Feature two
      .small Gorgeous, high-quality video sharing on desktop, mobile, tablet or more

    .col-12.col-md-3.mb-4.mb-md-0
      img(src="./assets/glyphs/rectangle-3.svg" width="32").mb-2
      h4 Feature three
      .small Gorgeous, high-quality video sharing on desktop, mobile, tablet or more

    .col-12.col-md-3
      img(src="./assets/glyphs/rectangle-5.svg" width="32").mb-2
      h4 Feature four
      .small Gorgeous, high-quality video sharing on desktop, mobile, tablet or more
